<h1 mat-dialog-title>
  <span *ngIf="create">Serve Meal</span>
  <span *ngIf="!create">Edit Meal</span>
</h1>
<form [formGroup]="form" (ngSubmit)="saveEvent()">
  <div mat-dialog-content>
    <mat-form-field class="full-width">
      <mat-select placeholder="Select User" [formControl]="form.controls['user']" required>
        <mat-option *ngFor="let user of data.volunteers" [value]="user.uid">
          {{ user.profile.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="half-width">
      <input matInput [matDatepickerFilter]="filterSunday" [min]="today" (dateInput)="inputDate($event)" [matDatepicker]="date" placeholder="Date" [formControl]="form.controls['date']" required>
      <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
      <mat-datepicker #date></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="half-width">
      <mat-select placeholder="Meal" [formControl]="form.controls['slot']" [(ngModel)]="slotValue" required>
        <mat-option *ngFor="let slot of slots" [value]="slot.value">
          {{slot.viewValue}}
        </mat-option>
      </mat-select>
      <mat-hint align="end">Select meal you will be serving</mat-hint>
    </mat-form-field>
    <mat-form-field class="half-width">
      <input matInput placeholder="Primary Color" type="color" [formControl]="form.controls['primary']" (change)="refresh.next()">
      <mat-error *ngIf="form.controls['primary'].hasError('required')">
        Primary Color is required
      </mat-error>
    </mat-form-field>
    <mat-form-field class="half-width">
      <input matInput placeholder="Secondary Color" type="color" [formControl]="form.controls['secondary']" (change)="refresh.next()">
      <mat-error *ngIf="form.controls['secondary'].hasError('required')">
        Secondary Color is required
      </mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions align="end">
    <button mat-raised-button [disabled]="!form.valid" type="submit" color="primary">Ok</button>
    <button mat-button type="button" [mat-dialog-close]="false">Cancel</button>
  </div>
</form>
