<nav class="docs-navbar-header">
  <a aria-label="Hope House" mat-button [routerLink]="['/']" tabindex="0" aria-disabled="false">
    <span class="mat-button-wrapper">
      <img alt="hope house" class="docs-hope-logo" src="../../assets/house-icon.png">
      <span>Hope House</span>
    </span>
  </a>
  <a *ngIf="canAccessServe()" class="docs-navbar-hide-small" mat-button tabindex="0" aria-disabled="false" [routerLink]="['/serve']">
    <span class="mat-button-wrapper">Serve</span>
  </a>
  <div class="flex-spacer"></div>
  <a class="docs-navbar-hide-small" mat-button tabindex="0" aria-disabled="false" [routerLink]="['/contact']">
    <span class="mat-button-wrapper">
      <mat-icon aria-label="Contact">mail_outline</mat-icon>
      <span>Contact</span>
    </span>
  </a>
  <a class="docs-navbar-show-small" mat-button tabindex="0" aria-disabled="false" [routerLink]="['/contact']">
    <mat-icon aria-label="Contact">mail_outline</mat-icon>
  </a>
  <a class="docs-navbar-hide-small" mat-button tabindex="0" aria-disabled="false" [routerLink]="['/account']">
    <span class="mat-button-wrapper">
      <mat-icon aria-label="Contact">account_circle</mat-icon>
      <span *ngIf="auth.user$ | async; then account else login"></span>
    </span>
  </a>
  <a class="docs-navbar-show-small" mat-button tabindex="0" aria-disabled="false" [routerLink]="['/account']">
    <mat-icon aria-label="Contact">account_circle</mat-icon>
  </a>
</nav>
<nav class="docs-navbar docs-navbar-show-small">
  <a *ngIf="canAccessServe()" class="docs-navbar-link" mat-button tabindex="0" aria-disabled="false" [routerLink]="['/serve']">
    <span class="mat-button-wrapper">Serve</span>
  </a>
</nav>

<ng-template #login>
  <span>Login</span>
</ng-template>
<ng-template #account>
  <span>Account</span>
</ng-template>
