<mat-toolbar color="accent">
  <mat-toolbar-row>
    <span>Serving Schedule</span>
    <span class="spacer"></span>
    <button mat-mini-fab color="primary" (click)="handleCreateEvent()" class="lose-outline">
      <mat-icon aria-label="Add" matTooltip="Add" matTooltipPosition="before">add</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<div>
  <div *ngIf="loading">
    <div class="layout-row layout-align-center-center">
      <mat-spinner></mat-spinner>
    </div>
  </div>
  <div *ngIf="!loading">
    <div class="layout-column layout-gt-sm-row header">
      <div class="flex-30 txt-left direction">
        <mat-button-toggle-group #group="matButtonToggleGroup">
          <mat-button-toggle value="prev" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false">
            Previous
          </mat-button-toggle>
          <mat-button-toggle value="today" mwlCalendarToday [(viewDate)]="viewDate" checked="true">
            Today
          </mat-button-toggle>
          <mat-button-toggle value="next" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false">
            Next
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <div class="flex-40 txt-center">
        <h3>{{ lunchSchedule.title }} - {{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
      </div>
      <div class="flex-30 txt-right views">
        <mat-button-toggle-group #group="matButtonToggleGroup">
          <mat-button-toggle value="prev" (click)="view = 'month'" [class.active]="view === 'month'" checked="true">
            Month
          </mat-button-toggle>
          <mat-button-toggle value="today" (click)="view = 'week'" [class.active]="view === 'week'">
            Week
          </mat-button-toggle>
          <mat-button-toggle value="next" (click)="view = 'day'" [class.active]="view === 'day'">
            Day
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>
    <br>
    <div>
      <div [ngSwitch]="view">
        <mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate" [events]="calendarEvents" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)" (eventClicked)="handleEditEvent($event.event)" (eventTimesChanged)="eventTimesChanged($event)">
        </mwl-calendar-month-view>
        <mwl-calendar-week-view *ngSwitchCase="'week'" [viewDate]="viewDate" [events]="calendarEvents" (eventClicked)="handleEditEvent($event.event)" (eventTimesChanged)="eventTimesChanged($event)">
        </mwl-calendar-week-view>
        <mwl-calendar-day-view *ngSwitchCase="'day'" [viewDate]="viewDate" [events]="calendarEvents" (eventClicked)="handleEditEvent($event.event)" (eventTimesChanged)="eventTimesChanged($event, $event.user)">
        </mwl-calendar-day-view>
      </div>
    </div>
  </div>
</div>
