:host>div>div {
  padding: 20px;
}

::ng-deep a.cal-event-title {
  outline: 0 !important;
}

::ng-deep a.cal-event-title a:hover {
  text-decoration: none !important;
}

.spacer {
  flex: 1 1 auto;
}

.header>div {
  padding: 5px;
}

.header>div h3 {
  margin: 0;
}

.direction {
  text-align: left;
}

.views {
  text-align: right;
}

.mat-toolbar {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

h3.cream {
  font-size: 28px;
}

@media (max-width:960px) {
  .direction {
    text-align: center;
  }
  .views {
    text-align: center;
  }
}

.mat-mini-fab {
  border-radius: 50% !important;
}

::ng-deep .cal-month-view .cal-event-title,
::ng-deep .cal-week-view .cal-event-title,
::ng-deep .cal-day-view .cal-event-title {
  text-decoration: none !important;
}

::ng-deep .cal-week-view .cal-event-title,
::ng-deep .cal-day-view .cal-event-title {
  color: rgb(0, 0, 238);
  text-decoration: none;
  background-color: transparent;
  vertical-align: middle;
}

::ng-deep .cal-month-view .cal-event-title:hover,
::ng-deep .cal-week-view .cal-event-title:hover,
::ng-deep .cal-day-view .cal-event-title:hover {
  text-decoration: underline !important;
}

::ng-deep .cal-month-view .cal-event-action i,
::ng-deep .cal-week-view .cal-event-action i,
::ng-deep .cal-day-view .cal-event-action i {
  vertical-align: middle;
  font-weight: bold;
}

::ng-deep .cal-week-view .cal-event-action i,
::ng-deep .cal-day-view .cal-event-action i {
  font-size: 14px;
  height: 14px;
  width: 14px;
  min-height: 14px;
  min-width: 14px;
}
