:host>div {
  padding: 20px;
}

.spacer {
  flex: 1 1 auto;
}

.header>div {
  padding: 5px;
}

.header>div h3 {
  margin: 0;
}

.direction {
  text-align: left;
}

.views {
  text-align: right;
}

@media (max-width:960px) {
  .direction {
    text-align: center;
  }
  .views {
    text-align: center;
  }
}

.mat-mini-fab {
  border-radius: 50% !important;
}

/deep/ .cal-month-view .cal-event-title {
  text-decoration: none !important;
}

/deep/ .cal-month-view .cal-event-title:hover {
  text-decoration: underline !important;
}

/deep/ .cal-month-view .cal-event-action i {
  vertical-align: middle;
  font-weight: bold;
}
