<div class="layout-column layout-align-start-stretch">
  <header>
    <div class="txt-center layout-column layout-align-center-center h-100 p-20">
      <h1 color="primary" class="cream">Contact Us</h1>
      <h3 class="md-display-1" class="allan">Please let us know if you have a question or suggestion by contacting us.</h3>
    </div>
  </header>
  <main class="layout-row layout-start-start">
    <div class="flex-15">&nbsp;</div>
    <div class="flex-70 layout-column layout-gt-sm-row layout-align-space-around-center">
      <mat-card>
        <h5>
          <strong>Hope House Center for Men</strong>
        </h5>
        <mat-card-content>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3077.8975626777765!2d-84.40786024832335!3d39.51680161769762!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88405d7d432553af%3A0x33ea66ddc15e5543!2s34+S+Main+St%2C+Middletown%2C+OH+45044!5e0!3m2!1sen!2sus!4v1522097230836"
            width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
          <div>
            <p>34 South Main Street, Middletown, Ohio 45044
              <br />Phone: (513) 424-4673
              <br />Fax: (513) 423-5913</p>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <h5>
          <strong>Hope House Center for Women and Children</strong>
        </h5>
        <mat-card-content>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3078.1285478998675!2d-84.4034142483233!3d39.51158831800903!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88405d7950d33e17%3A0x104a8689069e0fc2!2s1300+Girard+Ave%2C+Middletown%2C+OH+45044!5e0!3m2!1sen!2sus!4v1522097468504"
            width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
          <div>
            <p>1300 Girard Avenue, Middletown, Ohio 45044
              <br />Phone: (513) 217-5056
              <br />Fax: (513) 217-5287</p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="flex-15">&nbsp;</div>
  </main>
</div>
