<div class="layout-column layout-align-start-stretch">
  <header>
    <div class="txt-center layout-column layout-align-center-center h-100 p-20">
      <h1 color="primary" class="cream">Contact Us</h1>
      <h3 class="md-display-1" class="allan">Please let us know if you have a question or suggestion by contacting us.</h3>
    </div>
  </header>
  <main class="layout-row layout-start-start">
    <div class="flex-15">&nbsp;</div>
    <div class="flex-70 layout-column layout-gt-sm-row layout-align-space-around-center">
      <mat-card>
        <h5>
          <strong>Hope House Center for Men</strong>
        </h5>
        <div>34 South Main Street, Middletown, Ohio 45044</div>
        <div>Phone: (513) 424-4673</div>
        <div>Fax: (513) 423-5913</div>
      </mat-card>
      <mat-card>
        <h5>
          <strong>Hope House Center for Women and Children</strong>
        </h5>
        <div>1300 Girard Avenue, Middletown, Ohio 45044</div>
        <div>Phone: (513) 217-5056</div>
        <div>Fax: (513) 217-5287</div>
      </mat-card>
    </div>
    <div class="flex-15">&nbsp;</div>
  </main>
</div>
