@import "theme";
.content {
  flex: 1 0 auto;
  margin-top: 53px;
}

.hope-app-background {
  background: whitesmoke;
}

hope-app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: absolute;
  top: 52px;
  bottom: 0;
  left: 0;
  right: 0;
}

@media (max-width: 720px) {
  hope-app {
    top: 88px;
  }
}

hope-app>:last-child {
  overflow-y: auto
}

navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
