<div id="top" class="layout-row">
  <div class="flex-5 flex-gt-xs-10"></div>
  <div class="flex-90 flex-gt-xs-80 mat-elevation-z4">
    <dx-scheduler [dataSource]="dataSource" [views]="['day', 'week', 'workWeek', 'month']" currentView="month" [currentDate]="currentDate" [firstDayOfWeek]="1" [startDayHour]="8" [endDayHour]="18" [showAllDayPanel]="false" [height]="600" [groups]="['employeeID']" resourceCellTemplate="resourceCellTemplate" [dataCellTemplate]="dataCellTemplate">

      <dxi-resource fieldExpr="employeeID" [allowMultiple]="false" [dataSource]="resourcesDataSource" label="Employee">
      </dxi-resource>

      <div *dxTemplate="let employee of 'resourceCellTemplate'">
        <div class='name' [style.background]="employee.color">
          <h2>{{employee.text}}</h2>
        </div>
        <div class='info' [style.color]="employee.color">
          Age: {{employee.data.age}}
          <br/>
          <b>{{employee.data.discipline}}</b>
        </div>
      </div>
    </dx-scheduler>
  </div>
  <div class="flex-5 flex-gt-xs-10"></div>
</div>
