<div class="layout-row">
  <div class="flex-5 flex-gt-xs-15"></div>
  <div class="flex-90 flex-gt-xs-70 mat-elevation-z4">
    <mat-toolbar>
      <mat-toolbar-row>
        <span>Admin</span>
        <button mat-icon-button matTooltip="View Schedule" matTooltipPosition="below" *ngIf="tabIndex == 0 && schedule_selection.selected.length == 1"
          (click)="viewScheduleDialog()">
          <mat-icon aria-label="View Schedule">assignment</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Download Schedule" matTooltipPosition="after" *ngIf="tabIndex == 0 && schedule_selection.selected.length == 1"
          (click)="downloadSchedule()">
          <mat-icon aria-label="View Schedule">file_download</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Download Volunteers" matTooltipPosition="after" *ngIf="tabIndex == 1" (click)="downloadUsers()">
          <mat-icon aria-label="View Schedule">file_download</mat-icon>
        </button>
        <span class="spacer"></span>

        <!-- User Functions -->
        <button mat-raised-button *ngIf="tabIndex == 1 && user_selection.selected.length ==1" color="primary" (click)="userDialog()">
          Edit
        </button>
        <button mat-raised-button *ngIf="tabIndex == 1 && user_selection.selected.length == 1 && !isRole('volunteer')" color="accent"
          (click)="volunteerDialog(true)">
          Set Volunteer
        </button>
        <button mat-raised-button *ngIf="tabIndex == 1 && user_selection.selected.length == 1 && isRole('volunteer')" color="warn"
          (click)="volunteerDialog(false)">
          Remove Volunteer
        </button>

        <!-- Schedule Functions -->
        <button mat-raised-button *ngIf="tabIndex == 0 && schedule_selection.selected.length == 0" color="accent" (click)="scheduleDialog()">
          Create
        </button>
        <button mat-raised-button *ngIf="tabIndex == 0 && schedule_selection.selected.length == 1" color="primary" (click)="scheduleDialog()">
          Edit
        </button>
        <button mat-raised-button *ngIf="tabIndex == 0 && schedule_selection.selected.length == 1" color="warn" (click)="deleteScheduleDialog()">
          Delete
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-tab-group (selectedTabChange)="tabChanged($event)">
      <mat-tab label="SCHEDULES">
        <div class="form-padding">
          <div class="layout-column layout-gt-sm-row">
            <div class="container">
              <mat-table #schedule_table matSort [dataSource]="schedule_dataSource">

                <!-- Selection Column -->
                <ng-container matColumnDef="select">
                  <mat-header-cell *matHeaderCellDef>
                    &nbsp;
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? schedule_selection.toggle(row) : null" [checked]="schedule_selection.isSelected(row)">
                    </mat-checkbox>
                  </mat-cell>
                </ng-container>

                <!-- Title Column -->
                <ng-container matColumnDef="title">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
                </ng-container>

                <!-- Location Column -->
                <ng-container matColumnDef="location">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Location </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{locationName(element.location)}} </mat-cell>
                </ng-container>

                <!-- Color Column -->
                <ng-container matColumnDef="color">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Color </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <mat-chip [style.background]="element.color">{{element.color}}</mat-chip>
                  </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="schedule_displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: schedule_displayedColumns;"></mat-row>
              </mat-table>
              <mat-paginator #schedule_paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
              </mat-paginator>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="USERS">
        <div class="form-padding">
          <div class="layout-column layout-gt-sm-row">
            <div class="container">
              <div class="header">
                <mat-form-field>
                  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                </mat-form-field>
              </div>
              <mat-table #user_table matSort [dataSource]="user_dataSource">

                <!-- Selection Column -->
                <ng-container matColumnDef="select">
                  <mat-header-cell *matHeaderCellDef>
                    &nbsp;
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? user_selection.toggle(row) : null" [checked]="user_selection.isSelected(row)">
                    </mat-checkbox>
                  </mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="displayName">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.profile ? element.profile.name : element.displayName}} </mat-cell>
                </ng-container>

                <!-- Email Column -->
                <ng-container matColumnDef="email">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
                </ng-container>

                <!-- Phone Column -->
                <ng-container matColumnDef="phoneNumber">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Phone </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.profile ? element.profile.phoneNumber : element.phoneNumber | phone}} </mat-cell>
                </ng-container>

                <!-- Email Column -->
                <ng-container matColumnDef="roles">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Roles </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <mat-chip-list>
                      <mat-chip *ngIf="element.roles?.volunteer" color="primary" selected="true">Volunteer</mat-chip>
                      <mat-chip *ngIf="element.roles?.admin" color="warn" selected="true">Admin</mat-chip>
                    </mat-chip-list>
                  </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="user_displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: user_displayedColumns;"></mat-row>
              </mat-table>
              <mat-paginator #user_paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
              </mat-paginator>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div class="flex-5 flex-gt-xs-15"></div>
</div>
