  @import "../theme";
  :host {
    width: 100%;
  }

  header {
    height: 330px;
    background-color: mat-color($candy-app-primary);
    border-bottom: 1px solid mat-color($candy-app-accent, 500);
  }

  header>div {
    background-color: mat-color($candy-app-primary);
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23eeeeee' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }

  header h1 {
    font-size: 56px;
    font-weight: 300;
    line-height: 56px;
    margin: 15px 5px;
    text-shadow: mat-color($candy-app-accent) 1px 1px 4px;
  }

  header h3 {
    margin: .1em .25em;
    font-weight: bold;
    font-size: 28px;
  }

  main {
    padding: 2em 0 3em 0;
  }

  main .mat-card {
    max-width: 408px;
    background-color: mat-color($candy-app-accent, 300);
  }

  .cta {
    height: 360px;
    width: 360px;
    position: relative;
    background-repeat: no-repeat;
    margin-bottom: 32px;
  }

  .cta_2 {
    background-color: rgb(0, 188, 212);
    background-image: url('../../assets/tile-densityandsize.svg');
  }

  .cta_3 {
    background-color: rgb(95, 124, 138);
    background-image: url('../../assets/tile-opensource.svg');
  }
